<% include ./partials/header %>
<link rel="stylesheet" href="stylesheets/landing.css">

<div class="ui raised very padded text container segment">
<h1 class="ui huge header">Results Page!!</h1>
	
<div class="ui black inverted segment">
	<div class="ui inverted relaxed divided list">
   <div class="item">
	   <div class="content">
		   <strong>Base: <%= data.base %></strong>
		    <br/>
		   <strong>Amount: <%= data.rates['EUR']%></strong>
		   <br/>
		   <br/>
		   <strong>USD: $ <%= data.rates['USD']%></strong>
		   <br/>
		   <strong>CAD: $ <%= data.rates['CAD'] %></strong>
		   <br/>
		   <strong>MXN: $ <%= data.rates['MXN'] %></strong>
		   
   </div>
	   </div>

	</div>	
</div>


</div>
<a href="/" class="ui black tag label">Update Search</a>

<script src="scripts/background.js"></script>

<% include ./partials/footer %>